<div style="margin-left: 10px;">
    Dados do servidor
</div>

<div class="guin">
    <div>
        <div>Nome:</div>
        <div>DT Adm:</div>
        <div>COD Orgão:</div>
    </div>
    <div>
        <div>CPF:</div>
        <div>Vínculo:</div>
        <div>Tipo de contrato:</div>
    </div>

    <div>
        <div> Data nascimento: </div>
        <div> Matricula: </div>
        <div> Situação: </div>
    </div>

    <div>
        <div> Margem disponível </div>
        <div>Ógão</div>
    </div>

</div>
