<mat-form-field>
    <mat-label> Margem </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Nome completo </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Data nascimento </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> CPF </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Matricula Func. </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> ID Funcional </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Número do vínculo </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Órgão </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Código do orgao </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Tipo de contrato </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Situação </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Data de ADM </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Data final cont. </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Código banco </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Agência </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Número Cc. </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Digito Cc. </mat-label>
    <input matInput>
</mat-form-field>


<div style="margin-top: 50px;">

    <mat-form-field>
        <mat-label> Código banco </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Agência </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Núm. Cc. </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Dígito Cc. </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Alterar margem </mat-label>
        <input matInput>
    </mat-form-field>

    swith aqui?label: bloquar

    <mat-form-field>
        <mat-label> Alterar margem </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> E-mail </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Endereço </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Cep </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Contato </mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Complemento </mat-label>
        <input matInput>
    </mat-form-field>

</div>



<div>
    <button mat-button color="accent">Editar</button>
    <button mat-button color="warn">Salvar</button>
</div>
