<div class="g">

    <div class="c">
        <div>Dados pesoais</div>
        <mat-form-field class="form1">
            <mat-label> Nome completo </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Nome da mãe </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Email </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Data de nascimento </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Celular </mat-label>
            <input matInput>
        </mat-form-field>

    </div>

    <div class="c">

        <div>Dados da instituição</div>

        <mat-form-field appearance="fill">
            <mat-label>Instituição</mat-label>
            <mat-select>
                <mat-option>Caixa de seleção</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Setor</mat-label>
            <mat-select>
                <mat-option>Caixa de seleção</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field class="form1">
            <mat-label> Senha </mat-label>
            <input matInput type="password">
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Confirmar senha </mat-label>
            <input matInput>
        </mat-form-field>



        <mat-form-field class="form1">
            <mat-label> Cep </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Cidade </mat-label>
            <input disabled matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Endereço </mat-label>
            <input disabled matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> UF </mat-label>
            <input disabled matInput>
        </mat-form-field>


        <mat-form-field class="form1">
            <mat-label> Telefone </mat-label>
            <input matInput>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Função</mat-label>
            <mat-select>
                <mat-option>Caixa de seleção</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Agência </mat-label>
            <input matInput>
        </mat-form-field>



    </div>


    <div>
        <button mat-raised-button color="primary">Solicitar cadastro</button>
    </div>


</div>