<div class="g">

    <div>
        <span>Adequação por ordem judicial</span>
    </div>

    <div>
        <mat-form-field>
            <mat-label> Número do processo </mat-label>
            <input matInput type="number">
        </mat-form-field>
    </div>


    <div>
        <mat-form-field>
            <mat-label> Mudar parcela? </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label> Aumentar prazo? </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="gg">
        <button mat-stroked-button>Anexar decisão</button>
    </div>

    <div>
        <button mat-button color="warn">Cancelar</button>
        <button class="b2" mat-button>Confirmar</button>
    </div>

</div>
