<mat-toolbar>
    <span> Ordem judicial </span>
</mat-toolbar>

<div style="padding-left: 10px;">

    <button mat-stroked-button color="accent" style="margin-right: 10px;" [routerLink]="'/dashboard-orgao/adicionar-ordem-judicial'">
      Adicionar ordem judicial
    </button>

    <mat-form-field>
        <mat-label> Servidor </mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-icon-button>
    <mat-icon>search</mat-icon>
    </button>

    <mat-form-field>
        <mat-label> CPF </mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
      </button>


    <mat-form-field>
        <mat-label> ID Funcional </mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-icon-button>
        <mat-icon>search</mat-icon>
        </button>


</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="congnataria">
        <th mat-header-cell *matHeaderCellDef> Congnatária </th>
        <td mat-cell *matCellDef="let element"> {{element.congnataria}} </td>
    </ng-container>

    <ng-container matColumnDef="id_funcional">
        <th mat-header-cell *matHeaderCellDef> ID Funcional </th>
        <td mat-cell *matCellDef="let element"> {{element.id_funcional}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
    </ng-container>

    <ng-container matColumnDef="n_processo">
        <th mat-header-cell *matHeaderCellDef> Número do processo </th>
        <td mat-cell *matCellDef="let element"> {{element.n_processo}} </td>
    </ng-container>

    <ng-container matColumnDef="datalhes">
        <th mat-header-cell *matHeaderCellDef> Número do processo </th>
        <td mat-cell *matCellDef="let element">

            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>done</mat-icon>
      </button>


        </td>
    </ng-container>

    <ng-container matColumnDef="reverter">
        <th mat-header-cell *matHeaderCellDef> Reverter </th>
        <td mat-cell *matCellDef="let element">

            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>done</mat-icon>
      </button>

        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
