<mat-form-field>
    <mat-label> CNPJ </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Nome fantasia </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Razão social </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Cep </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Endereço </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Cep </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Complemento </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Cidade </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> UF </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> E-mail </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Telefone contato </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Código(BANCO) </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Responsável </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Cargo </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Rubrica </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Descrição rubrica </mat-label>
    <input matInput>
</mat-form-field>


<div>
    <button mat-flat-button color="warn"> Cadastrar </button>
</div>
