<div class="g">
    <div class="c">
        <div>Cadastro de nova senha</div>
        <mat-form-field class="form1">
            <mat-label> Login </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1" style="margin-top: 50px;">
            <mat-label> Nova senha </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Confirmar nova senha </mat-label>
            <input matInput>
        </mat-form-field>



        <button mat-raised-button color="primary" style="margin-top: 15px;">Entrar</button>


    </div>
</div>