<div class="g">

    <div>
        <h3>Liquidar?</h3>
    </div>


    <div>
        <button mat-stroked-button>Parcelas</button>
        <button mat-stroked-button>Integral</button>
    </div>

    <div class="gg">
        <mat-form-field>
            <mat-label> Senha </mat-label>
            <input matInput type="password">
        </mat-form-field>
    </div>



    <div>
        <button mat-button color="warn">Cancelar</button>
        <button class="b2" mat-button>Confirmar</button>
    </div>

</div>
