<app-caixa-dados></app-caixa-dados>

<div style="display: flex;
gap: 10px;
margin-top: 5px;">
    <mat-form-field appearance="fill">
        <mat-label> Selecionar ID </mat-label>
        <mat-select>
            <mat-option>
                484984564
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> Selecionar destino </mat-label>
        <mat-select>
            <mat-option>
                484984564
            </mat-option>
        </mat-select>
    </mat-form-field>


</div>



<div>

    <div class="flex" style="    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="flex-item">
            <div style="display: block;">
                <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>

</div>


<div style="text-align: center; padding-bottom: 10px; padding-top: 10px;">

    <button mat-stroked-button color="warn">Efetivar alocação</button>

</div>