<mat-toolbar>
    <span>Detalhamento do contrato</span>
</mat-toolbar>

<div style="margin: 10px">
    <div class="inicial">

        <app-dados-contrato></app-dados-contrato>

        <div class="a-bts">
            <button mat-stroked-button>Suspender</button>
            <button mat-stroked-button>Reianciar</button>
            <button mat-stroked-button>Ordem judicial</button>
            <button mat-stroked-button [routerLink]="'/dashboard-instituicao/refinanciar'">Refinanciar</button>
            <button mat-stroked-button>Liquidar parcelas</button>
            <button mat-stroked-button>Cancelar</button>
            <button mat-stroked-button>Realocar cotrato</button>
            <button mat-stroked-button>Bloquear</button>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="n_parcela">
                <th mat-header-cell *matHeaderCellDef> Número de parcela </th>
                <td mat-cell *matCellDef="let element"> {{element.n_parcela}} </td>
            </ng-container>

            <ng-container matColumnDef="competencia">
                <th mat-header-cell *matHeaderCellDef> Competência </th>
                <td mat-cell *matCellDef="let element"> {{element.competencia}} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>

            <ng-container matColumnDef="valor_pago">
                <th mat-header-cell *matHeaderCellDef> Valor pago </th>
                <td mat-cell *matCellDef="let element">
                    {{element.valor_pago}}
                </td>
            </ng-container>

            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef> Situação </th>
                <td mat-cell *matCellDef="let element">
                    {{element.situacao}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>


    <div style="margin-top: 10px;">
        <button mat-raised-button color="warn" (click)="verLog()"> Consultar log da operação </button>
    </div>

</div>