<div class="g">

    <div class="c">
        <mat-form-field class="form1">
            <mat-label> Login </mat-label>
            <input matInput placeholder="login">
        </mat-form-field>

        <mat-form-field class="form1">
            <mat-label> Senha </mat-label>
            <input matInput placeholder="login">
        </mat-form-field>

        <button mat-raised-button color="primary" [routerLink]="'/dashboard'">Entrar</button>
        <a mat-button target="_blank" (click)="clickCadastro()">Cadastre-se</a>
        <a mat-button target="_blank" (click)="esqSenha()">Esqueceu a senha?</a>
    </div>



</div>