<mat-toolbar>
    <span>Dados pessoais</span>
</mat-toolbar>


<div class="g">
    <div>
        <mat-form-field>
            <mat-label> CPF </mat-label>
            <input matInput>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field>
            <mat-label> Nome completo </mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label> Nome da mãe</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label> Data de nascimento </mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label> E-mail </mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label> Celular </mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div>
        <button mat-stroked-button color="accent"> Atualizar cadastro </button>
    </div>

</div>
