<div style="margin-left: 10px;">
    Dados do novo contrato
</div>
<div class="guin">

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Número de referência:</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div>
        <div> Valor contratado </div>
        <div> Prazo </div>
        <div> Juros A.M </div>
        <div> CET: </div>
    </div>

    <div>

        <div>
            <div> Valor parcela </div>
            <div> Quantidade de parcelas </div>
            <div> Data início </div>
            <div> Data fim: </div>
        </div>

    </div>

</div>
