<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport mode="side" [opened]="true" style="width: 240px;">

        <mat-toolbar style="background-color: 36A0E1; color: #36a0e1;">Menu</mat-toolbar>

        <button mat-button style="display: none;" (click)="drawer.toggle()" id="btnav">sidenav.toggle()</button>


        <mat-nav-list>

            <a mat-list-item [routerLink]="'/dashboard-orgao/meuperfil'">
                <mat-icon>check</mat-icon> Meu perfil
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/usuarios'">
                <mat-icon>check</mat-icon> Usuários
            </a>

            <a mat-list-item [routerLink]="'./averbacoes'">
        Averbação
      </a>

            <a mat-list-item [routerLink]="'./portabilidade'">
                <mat-icon>check</mat-icon> Portabilidades
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/reservas'">
                <mat-icon>check</mat-icon> Reservas
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/ordem-judicial'">
                <mat-icon>check</mat-icon> Ordem judicial
            </a>





            <a mat-list-item>
        Relatórios
      </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/desconto-folha'">
                <mat-icon>check</mat-icon>Desconto em folha
            </a>
            <a mat-list-item [routerLink]="'/dashboard-orgao/movimentacoes'">
                <mat-icon>check</mat-icon> Movimentações
            </a>
            <a mat-list-item [routerLink]="'/dashboard-orgao/repasse'">
                <mat-icon>check</mat-icon> Repasse
            </a>
            <a mat-list-item [routerLink]="'/dashboard-orgao/auditoria'">
                <mat-icon>check</mat-icon> Auditoria
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/carteira'">
                <mat-icon>check</mat-icon> Carteira
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/margem'">
                <mat-icon>check</mat-icon> Margem
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/marketshare'">
                <mat-icon>check</mat-icon> Market share
            </a>


            <a mat-list-item [routerLink]="'/dashboard-orgao/consignatarias'">
                <mat-icon>check</mat-icon> Consignatárias
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/manutencao-consignatarias'">
                <mat-icon>check</mat-icon> Manutenção Consignatária
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/servidores'">
                <mat-icon>check</mat-icon> Servidores/Funcionários
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/produtos'">
                <mat-icon>check</mat-icon> Produtos
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/postos-atendimento'">
                <mat-icon>check</mat-icon> Postos de atendimento
            </a>

            <a mat-list-item [routerLink]="'/dashboard-orgao/repositorio-arquivos'">
                <mat-icon>check</mat-icon> Repositórios de arquivos
            </a>

        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>


        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>
        <div>Dashboard Orgão</div>
      </span>



        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
