<div class="inicial">

    <div class="cima">
        <div class="cards0">
            <div class="esq">
                <mat-card class="cards">Nome Completo</mat-card>
                <mat-card class="cards">CPF</mat-card>
                <mat-card class="cards">Id Funcional</mat-card>
                <mat-card class="cards">Órgão</mat-card>
                <mat-card class="cards">Tipo de Contrato</mat-card>
                <mat-card class="cards">Data de Adm</mat-card>
                <mat-card class="cards">Código do Banco</mat-card>
                <mat-card class="cards">Nº Conta corrente</mat-card>
            </div>
            <div class="dir">
                <mat-card class="cards">Data Nascimento</mat-card>
                <mat-card class="cards">Matrícula Func</mat-card>
                <mat-card class="cards">Nº do Vínculo</mat-card>
                <mat-card class="cards">Código do Órgão</mat-card>
                <mat-card class="cards">Situação</mat-card>
                <mat-card class="cards">Data Final Cont</mat-card>
                <mat-card class="cards">Agência</mat-card>
                <mat-card class="cards">Dígito CC</mat-card>
            </div>
        </div>



        <div class="inputs">
            <mat-form-field class="input">
                <mat-label>E-mail</mat-label>
                <input matInput>
            </mat-form-field>
            <p></p>
            <mat-form-field class="input">
                <mat-label>CEP</mat-label>
                <input matInput>
            </mat-form-field>
            <p></p>
            <mat-form-field class="input">
                <mat-label>Endereço</mat-label>
                <input matInput>
            </mat-form-field>
            <p></p>
            <mat-form-field class="input">
                <mat-label>Complemento</mat-label>
                <input matInput>
            </mat-form-field>
            <p></p>
            <mat-form-field class="input">
                <mat-label>Contato</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>


    <div class="butsave">
        <button mat-raised-button color="primary" class="butsave">Salvar</button>
    </div>



</div>