<div class="c1">

    <div class="itemc">
        <div>Identificador</div>
        <div> --- </div>
    </div>

    <div class="itemc">
        <div> Prazo </div>
        <div> --- </div>
    </div>

    <div class="itemc">
        <div> Valor parcela </div>
        <div>
            <mat-form-field>
                <mat-label> Valor </mat-label>
                <input matInput placeholder="R$0,00">
            </mat-form-field>
        </div>
    </div>

    <div class="itemc">
        <div> Valor financiado </div>
        <div> R$0,00 </div>
    </div>

    <div class="itemc">
        <div> Valor consiginado </div>
        <div> R$0,00 </div>
    </div>

    <div class="itemc">
        <div> Juros </div>
        <div>
            <mat-form-field>
                <mat-label> Valor </mat-label>
                <input matInput placeholder="R$0,00">
            </mat-form-field>
        </div>
    </div>

    <div class="itemc">
        <div> CET(%) </div>
        <div> --- </div>
    </div>

    <div class="itemc">
        <div> 1 Desconto em folha </div>
        <div>
            ---
        </div>
    </div>

    <div class="itemc">
        <div> Último desconto em folha </div>
        <div> --- </div>
    </div>

    <div class="itemc">
        <div> Observação </div>
        <div> --- </div>
    </div>

    <div class="itemc">
        <div> Campo obrigatório </div>
        <div> --- </div>
    </div>

</div>
