<div class="g">
    <div>
        <button mat-stroked-button color="primary"> Digitalizar contrato </button>
    </div>


    <mat-form-field class="example-full-width">
        <mat-label> Token </mat-label>
        <input matInput placeholder=" **** ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label> Senha averbador </mat-label>
        <input matInput placeholder=" **** ">
    </mat-form-field>

    <div style="text-align: center;">
        <button mat-flat-button color="accent"> Averbar </button>
    </div>
</div>
