<mat-form-field>
    <mat-label> CEP </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Endereço </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Cidade </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> UF </mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field>
    <mat-label> Telefone </mat-label>
    <input matInput>
</mat-form-field>


<div>
    <a mat-raised-button href="">Cadastrar</a>
</div>