<div class="inicial">

    <div class="baixo">
        <mat-form-field class="example-full-width">
            <mat-label>CPF:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nome completo</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Data nascimento</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nome da mãe</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Celular</mat-label>
            <input matInput>
        </mat-form-field>

    </div>

    <div>
        <div> Dados pessoais </div>

        <mat-form-field appearance="fill">
            <mat-label>Instituição</mat-label>
            <mat-select>
                <mat-option>
                    Caixa de seleção
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Função</mat-label>
            <mat-select>
                <mat-option>
                    Caixa de seleção
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Instituição</mat-label>
            <mat-select>
                <mat-option>
                    Setor
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Agência</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Cep</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Endereço</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Cidade</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>UF</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <input matInput>
        </mat-form-field>

    </div>

    <div>
        <button mat-stroked-button color="primary">Atualizar cadastro</button>
    </div>




</div>