<div style="margin-top: 10px;">
    Dados contrato
</div>
<div class="dados">
    <div class="caixa">
        <div>
            <div>Situação:</div>
            <div>CET:</div>
            <div>Data Inicio:</div>
        </div>

        <div>
            <div>Valor Contratado:</div>
            <div>Instituição:</div>
            <div>Data Fim:</div>
        </div>

        <div>
            <div>Prazo:</div>
            <div>Saldo Restante:</div>
            <div>Nº Parcelas pagas:</div>
        </div>

        <div>
            <div>Juros A.M:</div>
            <div>VPL:</div>
            <div>Parcelas Restantes:</div>
        </div>
    </div>

</div>
